# site specific settings
/docker/local-settings.env
/kubernetes/*-secrets.yaml

# https certificate/key
/docker/nginx/ssl/server.cert
/docker/nginx/ssl/server.key

# admin static files
/backend/static/

*.py[co]
__pycache__
