# site specific settings
/docker/local-settings.env

# https certificate/key
/docker/nginx/ssl/server.cert
/docker/nginx/ssl/server.key

# admin static files
/static/

# virtualenv stuff
/venv/

# Firebase cache
.firebase/

*.py[co]
__pycache__

.DS_Store