version: "2"
services:
  db:
    image: "mysql:8.0"
    ports:
      - "3306:3306"
    # store in persistent docker volume for dev
    volumes:
      - "mysql_data:/var/lib/mysql"
    env_file:
      - ./local-settings.env
  django:
    build:
      context: .
      target: dev
    volumes:
      - ".:/usr/src/app"
    environment:
      PORT: "8000"
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - ./local-settings.env
    command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]

volumes:
  mysql_data: