version: "2"
services:
  db:
    image: "mysql:5.7"
    ports:
      - "3306:3306"
    env_file:
      - ./local-settings.env
  django:
    build: django
    volumes:
      - "..:/usr/src/app"
      - "virtualenv:/usr/src/app/venv"
    depends_on:
      - db
    env_file:
      - ./local-settings.env

volumes:
  virtualenv: