MYSQL_ROOT_PASSWORD=changeme
WA_CLIENT_SECRET=changeme
WA_API_KEY=changeme
WA_ACCOUNT_ID=changeme
CSRF_TRUSTED_ORIGINS=example.com,localhost:8000
CORS_ORIGIN_WHITELIST=example.com,localhost:8000
DJANGO_SECRET=changeme
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=optional,leave_blank_for_dev
DJANGO_DB_HOST=db
DJANGO_DB_NAME=roundrobin
DJANGO_DB_USER=root
DJANGO_DB_PASS=changeme

# serverless-framework AWS IAM user
AWS_ACCESS_KEY_ID=changeme
AWS_SECRET_ACCESS_KEY=changeme
