apiVersion: v1
kind: Secret
metadata:
  name: django
type: Opaque
data:
  # values must be base64 encoded.
  # echo -n 'topsecret' | base64
  django_secret: changeme
  wa_client_secret: changeme
  wa_api_key: changeme
  wa_account_id: changeme
