certifi==2024.2.2
cffi==1.15.1
chardet==3.0.4
coreapi==2.3.0
coreschema==0.0.4
cryptography==42.0.5
Django==1.11.29
django-cors-headers==2.0.2
django-filter==1.0.2
djangorestframework==3.6.2
djangorestframework-jwt==1.10.0
idna==2.8
itypes==1.1.0
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.1.1
pycparser==2.21
Pygments==2.2.0
PyJWT==1.4.2
PyMySQL==0.9.3
pytz==2017.2
requests==2.21.0
uritemplate==3.0.0
urllib3==1.24.1
uWSGI==2.0.15
